.first-section {
  display: flex;
  flex-flow: row nowrap;
  padding: 2%;
}
.first-section p {
  width: 70%;
  font-size: 1.3em;
}
.first-section p span {
  color: #0071BF;
  font-weight: bold;
}
.second-section p {
  font-size: 1.3em;
}
.second-section button {
  text-transform: uppercase;
  font-weight: bold;
  align-self: flex-start;
}
.second-section div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}
.second-section div ul li:first-child {
  font-weight: bold;
}
.second-section div img {
  max-width: 350px;
  height: 178px;
}